.card-user {
    position: relative;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    overflow: hidden;
    width: 300px;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-user:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.card-image-container {
    width: 100%;
    height: 180px;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.card-user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.card-user:hover .card-user-image {
    transform: scale(1.05);
}

.card-content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.card-user-name {
    font-size: var(--font-large);
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white-opacity);
}

.card-user-description {
    font-size: var(--font-medium);
    margin: 0;
    color: white;
    opacity: 0.9;
    line-height: 1.5;
    max-width: 80%;
}



.card-user-badged {
    font-size: var(--font-small);
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
    margin-top: 0.5rem;
}

.text-user-not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-large);
    width: 100%;
    font-weight: bold;
    padding: var(--padding);
    background-color: #a94442;
    color: white;
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .card-user {
        width: 100%;
        max-width: 90%;
    }

    .card-user-name {
        font-size: var(--font-medium);
    }

    .card-user-description {
        font-size: var(--font-small);
    }
}